<% layout("layouts/boilerplate") %>
  <body>
    <h1>Edit your Listing</h1>
    <form method="post" action="/listings/<%= listing._id %>?_method=PUT">
      <label>Title:</label>
      <input
        type="text"
        value="<%= listing.title %>"
        name="listing[title]"
        required
      />
      <br /><br />

      <label>Description:</label>
      <textarea name="listing[description]">
<%= listing.description %></textarea
      >
      <br /><br />

      <label>Image URL:</label>
      <input
        type="text"
        name="listing[image][url]"
        value="<%= listing.image.url %>"
      />
      <br /><br />

      <input
        value="<%= listing.price %>"
        name="listing[price]"
        type="number"
        step="0.01"
        placeholder="Enter Price"
      />
      <br /><br />

      <input
        name="listing[country]"
        value="<%= listing.country %>"
        type="text"
        placeholder="Enter Country"
      />
      <br /><br />

      <input
        name="listing[location]"
        value="<%= listing.location %>"
        type="text"
        placeholder="Enter Location"
      />
      <br /><br />

      <button type="submit">Edit Listing</button>
    </form>
  </body>
