<% layout("layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-2 mt-4">
    <h1>Edit your Listing</h1>
    <form method="post" action="/listings/<%= listing._id %>?_method=PUT">
      <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input
          type="text"
          value="<%= listing.title %>"
          name="listing[title]"
          class="form-control"
        />
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <textarea name="listing[description]" class="form-control">
<%= listing.description %></textarea
        >
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image URL:</label>
        <input
          type="text"
          name="listing[image][url]"
          value="<%= listing.image.url %>"
          class="form-control"
        />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price:</label>
          <input
            value="<%= listing.price %>"
            name="listing[price]"
            type="number"
            step="0.01"
            placeholder="Enter Price"
            class="form-control"
          />
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country:</label>
          <input
            name="listing[country]"
            value="<%= listing.country %>"
            type="text"
            placeholder="Enter Country"
            class="form-control"
          />
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location:</label>
        <input
          name="listing[location]"
          value="<%= listing.location %>"
          type="text"
          placeholder="Enter Location"
          class="form-control"
        />
      </div>

      <button class="btn btn-dark mt-4 edit-btn" type="submit">Edit</button>
    </form>
  </div>
</div>
